body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #d67694;
  }
  
  .recuadro {
    background: #ffffff;
    border-radius: 15px;
    border: 2px solid #006400;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .recuadro .titulo {
    font-size: 2rem;
    color: #006400;
    margin-bottom: 10px;
  }
  
 .recuadro .texto {
    font-size: 1.5rem;
    color: #333333;
    line-height: 1.5;
  }

  .imagen img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
  }